.main-content {
  display: flex;
  margin-top: 2rem;
  max-width: 100%;
}

.asd {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 25px;
  column-gap: 8px;
}

@media screen and (max-width: 1200px) {
  .asd {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 950px) {
  .asd {
    grid-template-columns: 1fr;
  }
}

.sidebar {
  padding: 30px 15px 25px 15px;
  background-color: #ffffff;
  border-radius: 10px;
  flex: 0 0 14%;
  height: fit-content;
  margin-left: 1.5em;
}

.about {
  background-color: #ffffff;
  margin-left: 1.8em;
  margin-right: 1.8em;
  border-radius: 10px;
}
